@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:ital@0;1&family=Proza+Libre&display=swap');

$font-heading: "Proza Libre", sans-serif;
$font-body: "Gentium Basic", sans-serif;
$color-font: #ccc;
$color-bg: #222;

.title { font-family: $font-heading; }
.text { font-family: $font-body; }
.fine-text { font-weight: lighter; }
a { color: $color-font; }

html, body {
	min-width: 100%;
	min-height: 100%;
	background-color: $color-bg;
	color: $color-font;
}

.header {
	min-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid $color-font;

	.top-menu {
		min-width: 100%;
		margin-top: 1%;
		margin-bottom: 1%;
		display: flex;
		justify-content: space-evenly;

		.top-menu-link {
			font-family: $font-heading;
			font-weight: bold;
		}
	}
}

.main {
	margin-top: 10%;
	padding: 0 20%;
}
